<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add Product</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:replace="fragments/navbar"></div>

<div class="container mt-4">
  <h1>Add Product</h1>
  <form th:action="@{/products/add}" method="post">
    <fieldset  class="bg-light">
      <legend>Add Product</legend>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" required>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" name="description" required>
      </div>

      <div class="form-group">
        <label for="unitOfMeasurement">Unit of Measurement</label>
        <select class="form-control" id="unitOfMeasurement" name="unitOfMeasurement" required>
          <option value="Bottle">Bottle</option>
          <option value="Piece">Piece</option>
          <option value="Pair">Pair</option>
          <option value="Bag">Bag</option>
          <option value="Pack" >Pack</option>
          <option value="Stick">Stick</option>
          <option value="Jar">Jar</option>
          <option value="Tube">Tube</option>
          <option value="Set">Set</option>
          <option value="Kit">Kit</option>
          <option value="Box">Box</option>
          <option value="Roll">Roll</option>
          <option value="Bar">Bar</option>
        </select>
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input type="number" class="form-control" id="price" name="price" required>
      </div>


    </fieldset>

    <button type="submit" class="btn btn-primary">Add Product</button>
  </form>
  <a th:href="@{/products}" class="btn btn-secondary mt-3">Back to Product List</a>
</div>

<!-- Bootstrap JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Bootstrap JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
